/* 清除浮动 */
.g-clearfix::after {
    display: block;
    clear: both;
    content: '';
}
.c1 {
    color: red;
}
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'iconfont'; /* project id 2295884 */
    src: url('//at.alicdn.com/t/font_2295884_5ckrr92moty.eot');
    src: url('//at.alicdn.com/t/font_2295884_5ckrr92moty.eot?#iefix')
            format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2295884_5ckrr92moty.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2295884_5ckrr92moty.woff') format('woff'),
        url('//at.alicdn.com/t/font_2295884_5ckrr92moty.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2295884_5ckrr92moty.svg#iconfont')
            format('svg');
}
