
@import 'sg.css';

.sg-filter-form {
    overflow: hidden;
    .placeholder {
        clear: both;
    }
    .sg-form-item {
        .el-form-item__label {
            width: 120px;
            text-align: right;
        }
        .el-form-item__content, .el-date-editor, .el-autocomplete {
            width: 230px;
        }
        .el-select {
            width: 100%;
        }
        &.actions {
            clear: both;
        }
    }
    .sg-checkbox {
        width: 100%;
        .el-form-item__content {
            width: calc(100% - 150px);
        }
    }
}

.sg-pagination-container {
    text-align: right;
    &.center {
        text-align: center;
    }
    &.left {
        text-align: left;
    }
    &.hidden {
        display: none;
    }
    &.w100 {
        width: 100%;
    }
}

.sg-tabs {
    width: 100%;
}

.sg-tools {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sg-table {
    margin-bottom: 15px;
}

.sg-pagination {
    flex: 1;
    &.fixed {
        height: 50px;
        padding-top: 10px;
        position: fixed;
        bottom: 0;
        background-color: #fff;
        z-index: 10;
        border: 1px solid #ddd;
    }
}

.base-loading-layer {
    position: absolute;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.loader-outer {
    position: absolute;
    z-index: 999999;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

.loader-inner {
    font-size: 0;
}

@-webkit-keyframes line-scale {
    0%, 100% {
        -webkit-transform: scaley(1);
        transform: scaley(1)
    }

    50% {
        -webkit-transform: scaley(.4);
        transform: scaley(.4)
    }
}

@keyframes line-scale {
    0%, 100% {
        -webkit-transform: scaley(1);
        transform: scaley(1)
    }

    50% {
        -webkit-transform: scaley(.4);
        transform: scaley(.4)
    }
}

.line-scale > div:nth-child(1) {
    -webkit-animation: line-scale 1s .1s infinite cubic-bezier(0.45, .05, .55, .95);
    animation: line-scale 1s .1s infinite cubic-bezier(0.45, .05, .55, .95)
}

.line-scale > div:nth-child(2) {
    -webkit-animation: line-scale 1s .2s infinite cubic-bezier(0.45, .05, .55, .95);
    animation: line-scale 1s .2s infinite cubic-bezier(0.45, .05, .55, .95)
}

.line-scale > div:nth-child(3) {
    -webkit-animation: line-scale 1s .3s infinite cubic-bezier(0.45, .05, .55, .95);
    animation: line-scale 1s .3s infinite cubic-bezier(0.45, .05, .55, .95)
}

.line-scale > div:nth-child(4) {
    -webkit-animation: line-scale 1s .4s infinite cubic-bezier(0.45, .05, .55, .95);
    animation: line-scale 1s .4s infinite cubic-bezier(0.45, .05, .55, .95)
}

.line-scale > div:nth-child(5) {
    -webkit-animation: line-scale 1s .5s infinite cubic-bezier(0.45, .05, .55, .95);
    animation: line-scale 1s .5s infinite cubic-bezier(0.45, .05, .55, .95)
}

.line-scale > div {
    animation-fill-mode: both;
    display: inline-block
}

.line-scale-party > div, .line-scale > div {
    background-color: #B2B2B2;
    margin: 3px;
    width: 4px;
    height: 26px;
    -webkit-animation-fill-mode: both
}

@-webkit-keyframes line-scale-party {
    0%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
}

@keyframes line-scale-party {
    0%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
}

.line-scale-party > div:nth-child(1) {
    -webkit-animation-delay: .77s;
    animation-delay: .77s;
    -webkit-animation-duration: 1.26s;
    animation-duration: 1.26s
}

.line-scale-party > div:nth-child(2) {
    -webkit-animation-delay: .29s;
    animation-delay: .29s;
    -webkit-animation-duration: .43s;
    animation-duration: .43s
}

.line-scale-party > div:nth-child(3) {
    -webkit-animation-delay: .28s;
    animation-delay: .28s;
    -webkit-animation-duration: 1.01s;
    animation-duration: 1.01s
}

.line-scale-party > div:nth-child(4) {
    -webkit-animation-delay: .74s;
    animation-delay: .74s;
    -webkit-animation-duration: .73s;
    animation-duration: .73s
}

.line-scale-party > div {
    animation-fill-mode: both;
    display: inline-block;
    -webkit-animation-name: line-scale-party;
    animation-name: line-scale-party;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
    animation-delay: 0
}

@-webkit-keyframes line-scale-pulse-out {
    0%, 100% {
        -webkit-transform: scaley(1);
        transform: scaley(1)
    }

    50% {
        -webkit-transform: scaley(.4);
        transform: scaley(.4)
    }
}

@keyframes line-scale-pulse-out {
    0%, 100% {
        -webkit-transform: scaley(1);
        transform: scaley(1)
    }

    50% {
        -webkit-transform: scaley(.4);
        transform: scaley(.4)
    }
}

.line-scale-pulse-out > div {
    background-color: #7ABCE9;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    display: inline-block;
    -webkit-animation: line-scale-pulse-out .9s 0s infinite cubic-bezier(0.85, .25, .37, .85);
    animation: line-scale-pulse-out .9s 0s infinite cubic-bezier(0.85, .25, .37, .85)
}

.line-scale-pulse-out > div:nth-child(2), .line-scale-pulse-out > div:nth-child(4) {
    -webkit-animation-delay: .2s !important;
    animation-delay: .2s !important
}

.line-scale-pulse-out > div:nth-child(1), .line-scale-pulse-out > div:nth-child(5) {
    -webkit-animation-delay: .4s !important;
    animation-delay: .4s !important
}

@-webkit-keyframes line-scale-pulse-out-rapid {
    0%, 90% {
        -webkit-transform: scaley(1);
        transform: scaley(1)
    }

    80% {
        -webkit-transform: scaley(.3);
        transform: scaley(.3)
    }
}

@keyframes line-scale-pulse-out-rapid {
    0%, 90% {
        -webkit-transform: scaley(1);
        transform: scaley(1)
    }

    80% {
        -webkit-transform: scaley(.3);
        transform: scaley(.3)
    }
}

.line-scale-pulse-out-rapid > div {
    background-color: #5484E1;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    display: inline-block;
    -webkit-animation: line-scale-pulse-out-rapid .9s 0s infinite cubic-bezier(0.11, .49, .38, .78);
    animation: line-scale-pulse-out-rapid .9s 0s infinite cubic-bezier(0.11, .49, .38, .78)
}

.line-scale-pulse-out-rapid > div:nth-child(2), .line-scale-pulse-out-rapid > div:nth-child(4) {
    -webkit-animation-delay: .25s !important;
    animation-delay: .25s !important
}

.line-scale-pulse-out-rapid > div:nth-child(1), .line-scale-pulse-out-rapid > div:nth-child(5) {
    -webkit-animation-delay: .5s !important;
    animation-delay: .5s !important
}

@-webkit-keyframes line-spin-fade-loader {
    50% {
        opacity: .3
    }

    100% {
        opacity: 1
    }
}

@keyframes line-spin-fade-loader {
    50% {
        opacity: .3
    }

    100% {
        opacity: 1
    }
}

.line-spin-fade-loader {
    position: relative
}

.line-spin-fade-loader > div:nth-child(1) {
    top: 20px;
    left: 0;
    -webkit-animation: line-spin-fade-loader 1.2s .12s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s .12s infinite ease-in-out
}

.line-spin-fade-loader > div:nth-child(2) {
    top: 13.64px;
    left: 13.64px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: line-spin-fade-loader 1.2s .24s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s .24s infinite ease-in-out
}

.line-spin-fade-loader > div:nth-child(3) {
    top: 0;
    left: 20px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation: line-spin-fade-loader 1.2s .36s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s .36s infinite ease-in-out
}

.line-spin-fade-loader > div:nth-child(4) {
    top: -13.64px;
    left: 13.64px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: line-spin-fade-loader 1.2s .48s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s .48s infinite ease-in-out
}

.line-spin-fade-loader > div:nth-child(5) {
    top: -20px;
    left: 0;
    -webkit-animation: line-spin-fade-loader 1.2s .6s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s .6s infinite ease-in-out
}

.line-spin-fade-loader > div:nth-child(6) {
    top: -13.64px;
    left: -13.64px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: line-spin-fade-loader 1.2s .72s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s .72s infinite ease-in-out
}

.line-spin-fade-loader > div:nth-child(7) {
    top: 0;
    left: -20px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation: line-spin-fade-loader 1.2s .84s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s .84s infinite ease-in-out
}

.line-spin-fade-loader > div:nth-child(8) {
    top: 13.64px;
    left: -13.64px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: line-spin-fade-loader 1.2s .96s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s .96s infinite ease-in-out
}

.line-spin-fade-loader > div {
    background-color: #7ABCE9;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    width: 5px;
    height: 15px
}

@-webkit-keyframes triangle-skew-spin {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0)
    }

    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
        transform: perspective(100px) rotateX(180deg) rotateY(180deg)
    }

    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
        transform: perspective(100px) rotateX(0) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0)
    }
}

@keyframes triangle-skew-spin {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0)
    }

    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
        transform: perspective(100px) rotateX(180deg) rotateY(180deg)
    }

    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
        transform: perspective(100px) rotateX(0) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0)
    }
}
